In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
anime_df = pd.read_csv('anime.csv')
ratings_df = pd.read_csv('rating.csv')

In [3]:
anime_df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [4]:
ratings_df

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [5]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [37]:
import collections
genres_dict = collections.defaultdict(int)
for genre in anime_df['genre']:
    if str(genre) == 'nan':
        continue
    split = genre.split(', ')
    for item in genre_list:
        genres_dict[item] += 1
genres = {k: v for k, v in sorted(genres.items(), key=lambda item: item[1], reverse=True)}
genres

{'Comedy': 4645,
 'Action': 2845,
 'Adventure': 2348,
 'Fantasy': 2309,
 'Sci-Fi': 2070,
 'Drama': 2016,
 'Shounen': 1712,
 'Kids': 1609,
 'Romance': 1464,
 'School': 1220,
 'Slice of Life': 1220,
 'Hentai': 1141,
 'Supernatural': 1037,
 'Mecha': 944,
 'Music': 860,
 'Historical': 806,
 'Magic': 778,
 'Ecchi': 637,
 'Shoujo': 603,
 'Seinen': 547,
 'Sports': 543,
 'Mystery': 495,
 'Super Power': 465,
 'Military': 426,
 'Parody': 408,
 'Space': 381,
 'Horror': 369,
 'Harem': 317,
 'Demons': 294,
 'Martial Arts': 265,
 'Dementia': 240,
 'Psychological': 229,
 'Police': 197,
 'Game': 181,
 'Samurai': 148,
 'Vampire': 102,
 'Thriller': 87,
 'Cars': 72,
 'Shounen Ai': 65,
 'Shoujo Ai': 55,
 'Josei': 54,
 'Yuri': 42,
 'Yaoi': 39}

In [64]:
episodes_dict = collections.defaultdict(int)
ova_episodes = collections.defaultdict(int)
tv_episodes = collections.defaultdict(int)
movie_episodes = collections.defaultdict(int)
anime_df.loc[anime_df['episodes'] == 'Unknown'] = "Ongoing"
for index, num_episodes in enumerate(anime_df["episodes"]):
    episodes_dict[num_episodes] += 1
    if anime_df.loc[index,'type'] == 'TV':
        tv_episodes[num_episodes] += 1
    elif anime_df.loc[index,'type'] == 'Movie':
        movie_episodes[num_episodes] += 1
    else:
        ova_episodes[num_episodes] += 1
episodes_dict = {k: v for k, v in sorted(episodes_dict.items(), key=lambda item: item[1], reverse=True)}
ova_episodes = {k: v for k, v in sorted(ova_episodes.items(), key=lambda item: item[1], reverse=True)}
tv_episodes = {k: v for k, v in sorted(tv_episodes.items(), key=lambda item: item[1], reverse=True)}
movie_episodes = {k: v for k, v in sorted(movie_episodes.items(), key=lambda item: item[1], reverse=True)}
episodes_dict

{'1': 2311,
 '2': 8,
 '3': 7,
 '12': 4,
 '5': 3,
 '6': 3,
 '7': 2,
 '4': 2,
 '9': 1,
 '100': 1,
 '14': 1,
 '10': 1}

In [65]:
movie_episodes

{'1': 2311,
 '2': 8,
 '3': 7,
 '12': 4,
 '5': 3,
 '6': 3,
 '7': 2,
 '4': 2,
 '9': 1,
 '100': 1,
 '14': 1,
 '10': 1}

In [66]:
ova_episodes

{'1': 3366,
 '2': 1067,
 '3': 490,
 'Ongoing': 340,
 '4': 307,
 '6': 243,
 '5': 104,
 '7': 67,
 '12': 65,
 '13': 54,
 '10': 51,
 '8': 46,
 '9': 32,
 '26': 17,
 '11': 17,
 '14': 14,
 '24': 14,
 '15': 11,
 '20': 10,
 '16': 10,
 '25': 6,
 '18': 5,
 '51': 3,
 '78': 3,
 '52': 2,
 '35': 2,
 '22': 2,
 '39': 2,
 '41': 2,
 '17': 2,
 '110': 1,
 '28': 1,
 '48': 1,
 '74': 1,
 '64': 1,
 '27': 1,
 '32': 1,
 '46': 1,
 '60': 1,
 '40': 1,
 '33': 1,
 '54': 1,
 '84': 1,
 '29': 1,
 '30': 1,
 '53': 1,
 '63': 1,
 '38': 1}

In [67]:
tv_episodes

{'12': 747,
 '13': 518,
 '26': 497,
 '52': 175,
 '24': 167,
 '25': 159,
 '51': 100,
 '39': 84,
 '50': 83,
 '10': 62,
 '11': 55,
 '22': 40,
 '48': 34,
 '23': 33,
 '49': 31,
 '20': 26,
 '47': 25,
 '38': 22,
 '6': 22,
 '30': 21,
 '16': 20,
 '43': 18,
 '40': 18,
 '4': 18,
 '46': 18,
 '14': 17,
 '45': 15,
 '21': 15,
 '35': 15,
 '27': 14,
 '37': 14,
 '5': 14,
 '8': 14,
 '44': 13,
 '104': 12,
 '36': 11,
 '34': 11,
 '65': 11,
 '33': 10,
 '15': 10,
 '31': 10,
 '29': 10,
 '56': 10,
 '61': 9,
 '54': 9,
 '42': 9,
 '32': 9,
 '100': 9,
 '78': 8,
 '53': 8,
 '3': 8,
 '64': 7,
 '77': 7,
 '60': 7,
 '73': 7,
 '9': 7,
 '130': 7,
 '156': 7,
 '75': 6,
 '41': 6,
 '18': 6,
 '28': 6,
 '74': 5,
 '101': 5,
 '102': 5,
 '103': 5,
 '96': 4,
 '70': 4,
 '63': 4,
 '19': 4,
 '58': 4,
 '59': 4,
 '94': 3,
 '114': 3,
 '109': 3,
 '97': 3,
 '17': 3,
 '127': 3,
 '76': 3,
 '86': 3,
 '72': 3,
 '105': 3,
 '55': 3,
 '170': 3,
 '7': 3,
 '148': 2,
 '99': 2,
 '62': 2,
 '112': 2,
 '153': 2,
 '69': 2,
 '178': 2,
 '142': 2,
 '195': 2,
 '115': 2,
 '92': 2,
 '180': 2,
 '91': 2,
 '66': 2,
 '164': 2,
 '296': 2,
 '95': 2,
 '68': 2,
 '151': 2,
 '119': 2,
 '84': 2,
 '108': 2,
 '140': 2,
 '305': 2,
 '200': 2,
 '88': 2,
 '143': 2,
 '365': 2,
 '260': 2,
 '225': 2,
 '312': 2,
 '240': 2,
 '110': 2,
 '80': 2,
 '201': 1,
 '203': 1,
 '291': 1,
 '120': 1,
 '79': 1,
 '175': 1,
 '145': 1,
 '366': 1,
 '358': 1,
 '155': 1,
 '113': 1,
 '167': 1,
 '161': 1,
 '373': 1,
 '220': 1,
 '1787': 1,
 '147': 1,
 '98': 1,
 '150': 1,
 '124': 1,
 '224': 1,
 '93': 1,
 '154': 1,
 '67': 1,
 '172': 1,
 '276': 1,
 '330': 1,
 '128': 1,
 '137': 1,
 '243': 1,
 '193': 1,
 '191': 1,
 '192': 1,
 '182': 1,
 '694': 1,
 '117': 1,
 '87': 1,
 '331': 1,
 '300': 1,
 '510': 1,
 '1471': 1,
 '526': 1,
 '726': 1,
 '136': 1,
 '1818': 1,
 '237': 1,
 '1428': 1,
 '2': 1,
 '163': 1,
 '283': 1,
 '71': 1,
 '199': 1,
 '1306': 1,
 '1565': 1,
 '773': 1,
 '1274': 1,
 '90': 1,
 '475': 1,
 '263': 1,
 '83': 1,
 '85': 1,
 '1006': 1,
 '162': 1,
 '132': 1,
 '141': 1,
 '125': 1}